.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 237);

    &__navigation {
        @media screen and (max-width: 800px) {
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
            padding: 20px;
            flex-direction: column;
            width: 100vw;
        }
        display: flex;
        flex-direction: row;
        align-items: center;                                                        
    }

    .entete__logo {
        display: flex;
        width: auto;
        padding: 0;
        margin: 0;
        img {
            width: 10%;
            padding: 2%;
        }
    }
}