.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    
    &__navigation {
        display: flex;
        flex-direction: row;
        align-items: center;                                                        
    }
}