.hero{
    background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 524px) {
        padding-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__icone {
        
        padding-top: 1rem;
    }

    ul{
        li {
            a {
                list-style: none;
                // text-decoration: none;
                color: black;
            }
        } 
    }
}