.hero{
    background-image: url("images/maldives.jpg");
    min-height: 100vh;

    p {
        a{
            text-decoration: none;
            color: black;
        }
    }
    button {
        background: #00A3C8;
        color: white;
        border: none;
        padding: 0.8vw 1.1vw;
        cursor: pointer;
        border-radius: 4px;
        align-self: flex-end;
      }
    button:hover {
        background: #0083a6;
    }
    &__icone {
        padding-top: 20px;
      }
}