.hero{
    background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
    &__icone {
        
        padding-top: 1rem;
    }

    ul{
        li {
            a {
                list-style: none;
                // text-decoration: none;
                color: black;
            }
        } 
    }
}