/* Animation fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 1rem;
    }

    &__item{
        // width: 20%; 
        background-color: #f9f9f9;
        border: 1px solid #007bff;
        padding: 1%;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
           flex-direction: column;
               flex-wrap: wrap;
     

        @media screen and (min-width: 800px){
           width: 300px;
              flex-direction: row;
              padding: 20px;
        }
        
    }

    .destination__item:hover {
        transform: translateY(-5px); /* Slight lift effect */
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
    }
     

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 10px;
        width: 100%; 
    }

    &__titre {
        padding-top: 2rem;
        font-weight: bold;
        margin: 0;
        flex-grow: 1; 
        padding: 1rem;
    }

    &__toggle-button {
        font-size: 1.5em;
        background: none;
        border: none;
        cursor: pointer;
        color: #007bff;
        font-weight: bold;
        padding: 0;
        align-items: center;
        padding-bottom: 10px;
        padding-right: 5px;
    }

    &__texte {
        // margin-top: 10px;
        font-size: 1em;
        color: #333;
        line-height: 1.5;
        display: none; 
        animation: fadeIn 0.5s ease-in-out; /* Ajout de l'animation fade-in */
 
    }

    &__item a {
        font-size: 0.9em;
        color: #007bff;
        text-decoration: none;
        margin: 10px;
    }

    &__toggle-button:focus {
        outline: none;
    }

    &__item {
        opacity: 1;
        transition: opacity 0.4s;
    }

    &__item.fade-out {
        opacity: 0;
    }

    &__item.fade-in {
        opacity: 0;
        animation: fadeInDestination 1s forwards;
    }

    @keyframes fadeInDestination {
        to {
            opacity: 1;
        }
    }
}
